---
// src/components/PortfolioCard.astro
import type { Project } from '../data/projects';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

interface Props extends Project {}

const { img, titleKey, link, tags, category } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const linkTextKey = 'portfolio_card_link';
---
<div class="portfolio-card" data-category={category}>
    <div class="portfolio-image" style={`background-image: url('${img}');`}></div>
    <div class="portfolio-info">
        <h3 set:html={t(titleKey)} />
        <div class="portfolio-tags">
            {tags && tags.slice(0, 3).map(tag => (
                <span class="tag">{tag}</span>
            ))}
        </div>
        <a href={link} class="case-link" set:html={t(linkTextKey)} />
    </div>
</div>