---
// src/layouts/CaseStudyLayout.astro
import BaseLayout from "./BaseLayout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface Props {
    title: any;
    description: any;
    ogImage: string;
    clientKey: any;
    servicesKey: any;
    year: string | number;
    heroImage: ImageMetadata;
    heroImageAlt: string;
    schema?: Record<string, any>;
}

const {
    title,
    description,
    ogImage,
    clientKey,
    servicesKey,
    year,
    heroImage,
    heroImageAlt,
    schema,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const homePath = `/${lang}/`;
---

<BaseLayout
    title={t(title)}
    description={t(description)}
    ogImage={ogImage}
    isTranslationKey={false}
    schema={schema}
>
    <section class="case-study-header">
        <div class="container">
            <!-- Заголовок и описание будут переданы из конкретной страницы кейса -->
            <slot name="header" />
            <div class="project-details">
                <div class="detail-item">
                    <h4>{t("case_client")}</h4>
                    <p>{t(clientKey)}</p>
                </div>
                <div class="detail-item">
                    <h4>{t("case_services")}</h4>
                    <p>{t(servicesKey)}</p>
                </div>
                <div class="detail-item">
                    <h4>{t("case_year")}</h4>
                    <p>{year}</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <Image
            src={heroImage}
            alt={heroImageAlt}
            class="main-project-image"
            loading="lazy"
            widths={[400, 800, 1200, 1600]}
            sizes="(max-width: 768px) 100vw, (max-width: 1200px) 1200px, 1600px"
        />
    </div>

    <div class="project-content-wrapper">
        <div class="project-content">
            <!-- Основной контент кейса -->
            <slot name="content" />

            <div class="case-cta-section">
                <a href={`${homePath}#contact`} class="cta-button"
                    >{t("case_cta_discuss")}</a
                >
            </div>
            <div style="display: flex; justify-content: center; width: 100%;">
                <a href={`/${lang}/projects/`} class="back-to-main"
                    ><span>{t("back_to_portfolio")}</span></a
                >
            </div>
        </div>
    </div>
</BaseLayout>
